<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Registro Geral</h1>
    <button class="button button-clear button-primary" ng-click="geral.hide()"><span class="ion-android-close" style="font-size: 30px"></span> &nbsp;</button>
  </ion-header-bar>
  <ion-content class="padding" ng-controller="AllHistoryCtrl">

    <div class="card" ng-repeat="temp in resultadosGerais | orderBy: '-horario'">
      <div class="item item-divider" style="text-align: center">
        <p><b>{{temp.horario}}</b></p>
      </div>
      <div ng-if="temp.temperatura > 25" class="animate-if item item-text-wrap padding" style="background-color: rgba(255, 0, 0, 0.7); text-align: center">
        <p style="color: white;">
          Temperatura: {{temp.temperatura}} ºC <br>
          Umidade do ar: {{temp.umidade}}% <br>
          Ruido: <span ng-if="temp.ruido == 0">Som Ambiente</span><span ng-if="temp.ruido == 1">Equipamento Danoso</span><span ng-if="temp.ruido == 2">Interferência Humana</span>
        </p>
      </div>
      <div ng-if="temp.temperatura <= 25" class="animate-if item item-text-wrap padding" style="background-color: rgba(0, 0, 255, 0.7); text-align: center">
        <p style="color: white;">
          Temperatura: {{temp.temperatura}} ºC <br>
          Umidade do ar: {{temp.umidade}}% <br>
          Ruido: <span ng-if="temp.ruido == 0">Som Ambiente</span><span ng-if="temp.ruido == 1">Equipamento Danoso</span><span ng-if="temp.ruido == 2">Interferência Humana</span>
        </p>
      </div>
      <!--<div class="item item-divider">-->
      <!--Footer-->
      <!--</div>-->
    </div>
  </ion-content>
</ion-modal-view>
