<ion-view view-title="Dashboard">
  <ion-nav-buttons side="right">
    <button class="button" ng-controller="LogoutCtrl" ng-click="logout()">
      <span class="ion-power"> Logout</span>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <h3 style="text-align: center;margin-top: 20px">Bem vindo, {{usuario}}</h3>
    <br>
    <br>
    <br>
    <p style="text-align: center;font-size: 40px"><i class="icon ion-thermometer" style="color: rgba(30,144,255, 0.9)"></i></p>
    <p style="text-align: justify">O objetivo geral do projeto é o desenvolvimento de um sistema com o uso da plataforma de prototipagem eletrônica chamada de Arduino, junto ao uso de sensores específicos para as situações a qual o projeto está voltado, automatizando e facilitando o processo de monitoramento de ruídos e da temperatura de uma sala de servidores em um ambiente controlado.</p>
    <p style="text-align: center;font-size: 40px"><i class="icon ion-thermometer" style="color: #cc0000"></i></p>
  </ion-content>
</ion-view>
